html {
  font-size: 16px;
}

body {
  margin: 0 auto;
  font-family: $Monserrat;
  width: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
  .form-wrapper {
    -webkit-transition: all 1s ease-in-out;
    top: 0;
    z-index: 900;
    width: 400px;
    margin: 20px auto;
    border-radius: 7px;
    border: 1.5px solid $darkGrey;
    box-shadow: $default-shadow;
    .form-header {
      text-align: center;
      padding: 20px 0;
      h3 {
        margin: 0;
        color: $lightBlue;
        font-weight: 100;
      }
    }
    .progressbar-wrapper {
      height: 10px;
      border-top: 1px solid $darkGrey;
      border-bottom: 1px solid $darkGrey;
      width: 100%;
      .progressbar {
        background-color: $lightBlue;
        height: 100%;
        -webkit-transition: width 1s ease-in-out;
        -moz-transition: width 1s ease-in-out;
        -o-transition: width 1s ease-in-out;
        transition: width 1s ease-in-out;
      }
    }
    label {
      font-size: $font-size-small;
      text-transform: uppercase;
      color: $grey
    }
    form {
      padding-top: 50px;
      padding-bottom: 20px;
      .error {
        color: $red;
      }
      .field-wrapper {
        padding: 0 20px;
      }
    }
  }
  .third-form {
    text-align: center;
    .done-img {
      display: block;
      text-align: center;
      margin: 0 auto;
      margin-top: 60px;
      margin-bottom: 50px;
    }
    button {
      color: $blue;
      font-family: $Monserrat;
      border: 1px solid $blue;
      font-size: $font-size-small;
      padding: 10px 30px;
      background-color: $white;
      border-radius: 8px;
      margin-bottom: 60px;
      &:hover {
        cursor: pointer;
      }
      img {
        width: 20px;
        left: 10px;
        vertical-align: bottom;
        position: relative;
      }
    }
  }
}

@media screen and (max-width: $laptop) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: $mobile) {
  .container {
    .form-wrapper {
      width: 300px;
      input {
        font-size: 11px!important;
      }
    }
  }
}

.form-page-wrapper{
  display: flex;
  flex-direction: column;
  opacity: 1;
  transition: opacity .4s ease-out;
  will-change: opacity;
  &.loading {
    opacity: 0;
  }
}