// Colors
$black: #000000;
$white: #ffffff;
$darkGrey: #dddddd;
$grey: #5d5d5d;
$sidebarLink: #698095;
$lightBlue: #4b6bc4;
$blue: #1b20ee;
$red: red;

//Text Fonts
$Monserrat: 'Monserrat';
$MonserratBold: 'Monserrat-Bold';
$MonserratLight: 'Monserrat-Light';
$MonserratMedium: 'Monserrat-Medium';

//Font Sizes
$font-size-default: 1rem;         // 16px
$font-size-small: 0.875rem;       // 14px
$font-size-super-small: 0.75rem;  // 12px
$font-size-big: 1.125rem;         // 18px
$font-size-big: 1.25rem;          // 20px

//Shadow
$default-shadow: 1px 1px 10px 0 #e1e3ed;

//Media
$laptop: 1200px;
$table: 991px;
$mobile: 768px;
